<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>196768717904-fouaao6i334gv7mhqb8mccn42s4massr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.196768717904-fouaao6i334gv7mhqb8mccn42s4massr</string>
	<key>API_KEY</key>
	<string>AIzaSyC_y2e91e2RvEVOileIGfFqPAg5mkDHpk0</string>
	<key>GCM_SENDER_ID</key>
	<string>196768717904</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.travelplanner</string>
	<key>PROJECT_ID</key>
	<string>travel-planner-44a2d</string>
	<key>STORAGE_BUCKET</key>
	<string>travel-planner-44a2d.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:196768717904:ios:b5a1a52f2494ba18814555</string>
</dict>
</plist>